.container {
    background: #eee;
    border: 1px solid #c00;
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient( to right, #c9676e, white 20% );
    box-shadow: 0 10px 8px 0 #5a5858;
    justify-content: space-between;
    flex-flow: column nowrap;
    display: flex;
}

.article {
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: .5rem;
}


.title {
    color: #c00;
    font-size: 20px;
    margin: .5rem 0;
}

.pubDate {
    font-weight: bold;
    font-size: smaller;
}


