.container {
    background: #eee;
    border: 1px solid #c00;
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient( to right, #c9676e, white 20% );
    box-shadow: 0 10px 8px 0 #5a5858;
    justify-content: space-between;
    flex-flow: column nowrap;
    display: flex;
}

.article {
    vertical-align: middle;
    margin-bottom: 1rem;
    font-size: 12px;
}


.title {
    color: #c00;
    font-size: 25px;
    margin-bottom: 1rem;
}

.pubDate {
    font-weight: bold;
    font-size: 10px;
}

@media (min-width: 500px) {
    .article {
        margin-bottom: 2rem;
        font-size: 24px;
    }
    
    
    .title {
        color: #c00;
        font-size: 50px;
        margin-bottom: 2rem;
    }
    
    .pubDate {
        font-size: 20px;
    }
}

