.slugButton {
    background: #c00;
    color: #fff;
    border: 2px solid #D8D8D8;
    border-radius: 5px;
    width: 90%;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}